* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /*background: linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );*/
  background-color: #183c54;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;  
}

.login-view {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove {
  display: none;
}

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  text-align: center; /* Center all text */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
}

input,
textarea {
  text-align: center; /* Center input fields */
  margin-bottom: 10px; /* Add some space between the fields */
}

input:last-child {
  margin-bottom: 20px; /* Add extra space to the second input field */
}

/* Media queries for different screen sizes */
@media screen and (max-width: 768px) {
  .container {
    height: auto; /* Adjust height for smaller screens */
    padding: 20px; /* Add some padding for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .content {
    width: 100%; /* Adjust width for smaller screens */
  }
}
